<h1> <%= @artist.name %> </h1>
<p> Instrument: <%= @artist.instrument %> </p>
<p> Years Active: <%= @artist.years_active %> </p>
<br>
<h2> Songs </h2>
<ul>
<% @artist.songs.map do |song| %>
<li> Name: <%= song.name %>,
Album: <%= song.album %>,
Release Date: <%= song.release_date %>, 
Genre: <%= song.genre.name %> </li>
<%= button_to 'Delete Song', artist_song_path(@artist, song), method: :delete %>
<%= button_to 'Edit Song', edit_artist_song_path(@artist, song), method: :get %>
<br>
<% end %> 
</ul>
<%= button_to 'Add New Song', new_artist_song_path(@artist), method: :get %>