<!DOCTYPE html>
<html>
  <head>
    <title>Artistsapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <% if @current_artist %>
      <%= button_to "Logout", logout_path, method: :delete %>
      'Logged in as:' <%= @current_artist.name %>
    <% end %>
  </body>
</html>
